/*************************************************************
  Written by ????, Term 1 2021
  Style a basic W3.CSS interface.
    v1 Basic layout of landing & game pages.
*************************************************************/
:root {
  --mainTextCol: #d4d4d4;
}

html, body {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica;
  color: var(--mainTextCol);
}

.normalDiv {
  content: "";
  display: table;
  clear: both;
}

canvas {
  display: block;
}

#s_gamePage {
  display: block;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: 300px auto 400px;
  grid-template-rows: 100px auto 50px;
  height: 100vh;
}

.messagesGrid {
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: auto 30px;
}

.darkGrey {
  background-color: #525252;
}

.grey {
  background-color: #5e5e5e;
}

input {
  background-color: #424242;
  width: inherit;
  height: 30px;
  border-radius: 30px;
}

button {
  width: fit-content;
  background-color: #333333;
  color: var(--mainTextCol);
  padding: 3px;
}

/*************************************************************
/*    Sidebar stuff
*************************************************************/
#b_home {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

/*************************************************************
/*    Settings stuff
*************************************************************/
#s_settingsPage {
  display: none;
  position: fixed;
}
/*************************************************************
/*    END OF CSS
*************************************************************/